:root {
  --main-text-color: #607EDE;
  --second-text-color: black;
  --second-bg-color: #ffff;
}

.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);
}
.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  background-color: #bec7e6;
}
#management{
  display: flex;
}
.logo-manage{
  width: 40px;
  margin-top: -3px;
}


#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

.main-content {
  flex: 1;
  padding: 0 10px;
  margin-top: 10px;
}
.danger-zone {
  border: 1.5px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}


#profileImage:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

#signoutInterface {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050; 
 }

#profileImage{
  width: 100px;
  height: 100px;
}

.text-primary img{
  width: 50px;
  height: 50px;
  border-radius: 50%;

}
.modal-dialog{
  width: 300px;
  height: 400px;
}


.btn-danger a{
  text-decoration: none;
  color: #000;
  
}
.btn-danger a:hover{
  text-decoration: none;
  color: #fff;
  
}


@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
