:root {
  --main-text-color: #607EDE;
  --second-text-color: black;
  --second-bg-color: #ffff;
}

.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);
}
.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  background-color: #bec7e6;
  /* background-image: linear-gradient(
    to right,
    #ddd,
    ##ddd,
    #cbf7e4,
    #d4f8ea,
    #ddfaef
  ); */
}
#management{
  display: flex;
}
.logo-manage{
  width: 40px;
  margin-top: -3px;
}


#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

.main-content {
  flex: 1;
  padding: 0 10px;
  margin-top: 10px;
}

.welcom-project {
  border-radius: 10px;
  background-color: #F2F4FC;
  width: 100%;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.098) 0px 3px 8px;

}
.welcom-project h1 {
  color: #f9a825;
}
.welcom-project p {
  color: #555558;
}

.input-group{
  width: 84%;
}
.form-control {
  height: 38px; 
}

.btn {
  height: 38px;
  display: flex;
  align-items: center;
}

.btn-add:hover {
  background: rgb(2, 180, 2);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-search .search-outline {
  width: 25px;
  color: #555;
  font-size: 22px;
  cursor: pointer;
}

.icon-add {
  font-size: 18px;
}


table {
  margin-top: 20px;
  align-items: center;
}

table th {
  background-color: #f9f9f9;
}

.btn-edit {
  background-color: #fff;
  color: #3498db;
  margin-right: 10px;
  border: 1.5px solid #3498db;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 20px;

}

.btn-delete {
  background-color: #fff;
  color: #e74c3c;
  border: 1.5px solid #e74c3c;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}


@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
